* {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

body {
    align-items:center;
    background-color:white;
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
    text-align:center;
    width:100vw;
}

button {
    background-color:black;
    border:none;
    border-radius:5px;
    color:white;
    margin-top:20px;
    padding:8px 12px 8px 12px;
}

button:hover {
    cursor:pointer;
}

#container {
    align-items:center;
    display:flex;
    flex-direction:column;
    padding-top:100px;
    width: min(900px,100%);
}

#sort-by,
#show {
    background-color: lightgray;
    border:none;
    border-radius:5px;
    margin-top:20px;
    padding:4px 8px 4px 8px;
    text-align:center;
    width:100px;
}

#library-grid {
    display:grid;
    gap:10px;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(auto-fit, 170px);
    justify-content:center;
    margin-top:40px;
    margin-bottom:50px;
    padding:0px 40px 40px 60px;
    width:100%;
}

.book {
    align-items: center;
    border-radius:3px;
    color:white;
    display:flex;
    flex-direction:column;
    font-size:.9em;
    height:200px;
    text-align:center;
    padding: 40px 10px 10px 10px;
    position:relative;
    width:150px;
}

.book>p {
    font-size:.8em;
    font-style:italic;
}

.book>button {
    align-items:center;
    border:1px solid white;
    bottom:8px;
    color:white;
    display:flex;
    height:24px;
    justify-content:center;
    padding:5px 8px 5px 8px;
}

.book>.toggle-read {
    border:none;
    border-radius:2px;
    justify-self:center;
    position:absolute;
}

.book>.toggle-read:hover {
    background-color: rgb(40, 40, 40) !important;
    transition:.2s ease-in;
}

.book>.book-remove {
    font-size:1.2em;
    position:absolute;
    right:8px;
}

.book>.book-remove:hover {
    background-color:rgb(238, 135, 135) !important;
    border: 1px solid rgb(142, 41, 41) !important;
    color:rgb(142, 41, 41) !important;
    transition:.2s ease-in;
}

.book>.book-info {
    font-weight:bold;
    font-size:.8em;
    left:8px;
    position:absolute;
}

.book>.book-info:hover {
    background-color: white !important;
    border: 1px solid rgb(140, 140, 140) !important;
    color:rgb(140, 140, 140) !important;
    transition:.2s ease-in;
}

.book-info,
.book-remove {
    border-radius:12px;
    width:24px;
}

#new-book-modal,
#book-info-modal {
    align-items:center;
    background-color: #efefef7f;
    display:none;
    height:100vh;
    justify-content:center;
    position:absolute;
    width:100%;
}

#new-book-form,
#book-info {
    align-items:center;
    background-color:white;
    box-shadow: 2px 2px 5px rgb(190, 190, 190);
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:30px;
    position:relative;
    width:min(300px,100%);
}

#book-info {
    gap:10px;
}

h4 {
    line-height:2em;
    margin:0;
}

#book-info>.close-modal,
#new-book-form>.close-modal {
    background-color:rgb(226, 130, 130);
    border:1px solid white;
    border-radius:10px;
    color:white;
    font-size:1em;
    height:20px;
    line-height:0px;
    margin:0;
    padding:0;
    position:absolute;
    right:10px;
    text-align:center;
    top:10px;
    width:20px;
}

#new-book-form>label {
    margin-bottom:4px;
    margin-top:15px;
}

#new-book-form>input,
#new-book-form>select {
    height:25px;
    text-align:center;
    width:70%;
}

#new-book-form>button {
    margin-bottom:15px;
    margin-top:30px;
    width:fit-content;
}